.listing-box {
    border-style: solid;
    border-width: medium;
    margin: 1em;
    padding: 1em;
}

.rooms-info-containter, .avaiability-container {
    border-style: solid;
    border-width: thin;
    padding: 0.5em;
}