.active {
  background-color: rgb(81, 178, 165); /* Teal */
  color: white;
}

li a {
  color: rgb(33, 54, 53); /* Dark gray green */
  display: block;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 24px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(69, 118, 102); /* Dark green */
  color: white;
}

.navbarli {
  float: left;
}

#navbarul {
  background-color: rgb(185, 207, 209); /* Gray green */
  list-style-type: none;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 0px;
  position: fixed;
  top: 0;
  width: 100%;
}

ul {
  list-style-position: inside;
}